@font-face {
  font-family: "DBAdmanX";
  src: url("../fonts/DB-Adman-X/DBAdmanX.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "DBAdmanXBd";
  src: url("../fonts/DB-Adman-X/DBAdmanXBd.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "DBAdmanXLi";
  src: url("../fonts/DB-Adman-X/DBAdmanXLi.ttf");
  font-weight: lighter;
}
body {
  /* background-image: url("/public/image/Homepage.png"); */
  padding: 0;
  margin: 0;
  font-family: DBAdmanX;
  /* background-image: url("../image/Homepage.png"); */
  background-size: 100% auto;
}
.main-footer {
  height: 95px;
}
.p-white::-webkit-input-placeholder {
  color: #ffffff;
}
.red-price {
  font-family: DBAdmanX;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #f74646;
}
.left {
  text-align: left;
}
.input-blue {
  border: none;
  border-radius: 29.5px;
  background-color: rgba(255, 255, 255, 0.22);
}
.btn-white {
  border-radius: 29.5px;
  background-color: #ffffff;
}
.btn-line {
  font-weight: bold;
  width: 35%;
  background-color: #00b900;
  color: white;
  border-radius: 3px;
  font-size: 20px;
  font-family: DBAdmanX;
}
.sub-title-gg-drive {
  margin-top: -20px;
  color: #5d5d5d;
  font-family: DBAdmanX;
  font-size: 32px;
  font-weight: bold;
  color: #5d5d5d;
}
.head-title-gg-drive {
  font-family: DBAdmanX;
  font-size: 80px;
  font-weight: bold;
  color: #328be0;
}
.reply-mail-card {
  width: 631px;
  height: 150px;
  margin: 50px 94px 0 0;
  padding: 0 0 0 38px;
  border-radius: 50px;
  background-color: #78bdff;
}
.reply-title-txt {
  padding-top: 35px;
  font-family: DBAdmanX;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.07;
  letter-spacing: -0.48px;
  color: #ffffff;
}
.head-title-gg-wsp {
  font-family: DBAdmanX;
  margin-top: -35px;
  margin-bottom: 10px;
  font-size: 80px;
  font-weight: bold;
  color: #328be0;
}
.head-sub-gg-drive {
  font-family: DBAdmanX;
  font-size: 30px;
  font-weight: bold;
  color: #328be0;
}
.old-price {
  color: #328be0;
  text-decoration: line-through;
}
.old-price-txt {
  font-family: DBAdmanX;
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #6d7278;
}
.new-price-txt {
  margin-left: 15px;
  font-family: DBAdmanX;
  font-size: 35px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #328be0;
}
.title-detail-gg-drive {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: DBAdmanX;
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #666666;
}
.des-detail-gg-drive {
  font-family: DBAdmanX;
  font-size: 20px;
  font-weight: lighter;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #757575;
}
.center {
  text-align: center;
}
.title-txt-banner {
  color: #1e1f1f;
  font-family: DBAdmanX;
  font-size: 100px;
  font-weight: bold;
  color: #1e1f1f;
}
.title-txt-sup {
  font-family: DBAdmanX;
  font-size: 3vw;
  font-weight: 300;
  color: #1e1f1f;
}

.btn-contect {
  background-color: #0084e5;
  color: white;
  width: 160px;
  border-radius: 10px;
  font-size: 2vw;
  font-family: DBAdmanX;
}
.btn-contect-head {
  background-color: white;
  color: #0084e5;
  width: 160px;
  border-radius: 10px;
  font-size: 30px;
  font-family: DBAdmanX;
}
.btn-tectony {
  font-weight: bold;
  width: 35%;
  background-color: #0084e5;
  color: white;
  border-radius: 3px;
  font-size: 20px;
  font-family: DBAdmanX;
}
.btn-submit {
  font-weight: bold;
  width: 20%;
  background-color: #0084e5;
  color: white;
  border-radius: 3px;
  font-size: 20px;
  font-family: DBAdmanX;
}
.btn-submit-m {
  font-weight: bold;
  width: 100%;
  background-color: #0084e5;
  color: white;
  border-radius: 3px;
  font-size: 20px;
  font-family: DBAdmanX;
}
.btn-line {
  margin-left: 10px;
  font-weight: bold;
  width: 20%;
  background-color: #2cc165;
  color: white;
  border-radius: 3px;
  font-size: 20px;
  font-family: DBAdmanX;
}
.btn-line-m {
  margin-left: 10px;
  font-weight: bold;
  width: 100%;
  background-color: #2cc165;
  color: white;
  border-radius: 3px;
  font-size: 20px;
  font-family: DBAdmanX;
}
.main {
  margin-top: 150px;
  height: auto;
}
.our-solutions {
  margin-top: 180px;
  margin-bottom: s 60px;
}
.google-solutions {
  margin-top: 180px;
  margin-bottom: s 60px;
}
.head-txt {
  /* font-family: DBAdmanX; */
  font-size: 6vw;
  font-weight: bold;
  text-align: center;
  color: #313131;
}
.head-txt-contact {
  /* font-family: DBAdmanX; */
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  color: #328be0;
}
.head-txt-contact-m {
  /* font-family: DBAdmanX; */
  font-size: 10vw;
  font-weight: bold;
  text-align: center;
  color: #328be0;
}
.solution-detail {
  /* font-family: DBAdmanX; */
  font-size: 36px;
  font-weight: bold;
  text-align: left;
  color: #313131;
}
.solution-detail a {
  /* font-family: DBAdmanX; */
  float: right;
}
.card-menu {
  text-align: center;
  height: 195px;
  /* width: 20px; */
  max-width: 500px;
  border-radius: 30px;
  box-shadow: 1px 1px 23px 0 rgba(14, 0, 0, 0.16);
  background-color: #ffffff;
}
.card-menu-m {
  text-align: center;
  height: 195px;
  width: auto;
  max-width: 500px;
  border-radius: 30px;
  box-shadow: 1px 1px 23px 0 rgba(14, 0, 0, 0.16);
  background-color: #ffffff;
}
.card-solution {
  padding-right: 0px;
  padding-left: 0px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.sup-head-txt {
  margin-left: -18px;
  font-family: DBAdmanX;
  font-size: 72px;
  font-weight: bold;
  color: #6b6b6b;
}
.sup-digital-txt {
  font-family: DBAdmanX;
  font-size: 72px;
  color: #313131;
}
.list-text {
  font-weight: lighter;
  font-family: DBAdmanX;
  font-size: 30px;
  color: #313131;
}

.title-txt {
  margin-left: 8px;
  font-weight: bold;
  font-size: 24px;
  color: #464646;
}
.btn-detail {
  margin-left: 8px;
  border-radius: 3px;
  background-color: #328be0;
  font-size: 9px;
  color: #ffffff;
}
.img-marketing {
  margin-top: -200px;
  margin-left: -180px;
}
.sub_header {
  margin-top: -15px;
  font-size: 40px;
  font-weight: lighter;
  text-align: center;
  color: #313131;
}
.sub_header-m {
  font-size: 7vw;
  font-weight: lighter;
  text-align: center;
  color: #313131;
}
.footer-icon {
  position: absolute;
  right: 15px;
  margin-top: -30px;
}
.right-side {
  position: absolute;
  right: 0px;
}
.contact {
  font-family: DBAdmanX;
}
.contact input {
  font-family: DBAdmanX;
}
.FadeinleftBig {
  display: flex;
  align-items: center;
  text-align: center;
  width: 45%;
  height: 398px;
  background-image: linear-gradient(to bottom, #cff0ff, #6bd9d9);
}
.Rectangle {
  display: flex;
  align-items: center;
  text-align: center;
  width: 45%;
  height: 398px;
  margin: 0 0 0 499px;
  background-image: linear-gradient(to bottom, #cff0ff, #6bd9d9);
}
.FlipInX {
  display: flex;
  align-items: center;
  text-align: center;
  width: 90%;
  height: 381px;
  margin: 57px 37px 57px 38px;
  background-image: linear-gradient(to bottom, #cff0ff, #6bd9d9);
}
.FlipInX2 {
  display: flex;
  align-content: space-between;
  width: 90%;
  height: 381px;
  margin-bottom: 57px;
}
.FlipInX2 a {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 90%;
  height: 100%;
  background-image: linear-gradient(to bottom, #cff0ff, #6bd9d9);
}

.test {
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, #cff0ff, #6bd9d9);
  font-family: DBAdmanXBd;
  color: #ffffff;
}
.datail-cen {
  height: 398px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: DBAdmanXBd;
  color: #ffffff;
}

.blog-content {
  margin-top: 30px;
  margin-bottom: 30px;
}
.pay input::placeholder {
  color: #328be0;
}
.pay select[disabled] {
  background-color: red;
  color: #328be0;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.btn_tab_info {
  background-color: #eeeeee;
  color: black;
}

.btn_tab_info:focus {
  background-color: #328be0;
  color: #ffffff;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 10px;
  top: 10px;
  color: #595959;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #595959;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #ffffff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #fbfbfb;
  /* background: #2a40a2; */
  padding-top: 0.5em;
  /* padding: 2.5em 1.5em 0; */
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  /* color: #f7e738; */
  padding: 0.8em;
  /* background-color: yellowgreen; */
}

/* Individual item */
.bm-item {
  display: inline-block;
  /* border-width: "10px";
  border-color: #0084e5; */
  /* background-color: yellowgreen; */
  /* border-width: 0ch; */
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.flex-fill {
  flex: 1 1 auto;
}

.on_outline:focus {
  outline: none !important;
}
.style_box {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.hover {
  overflow: hidden;
  position: relative;
  padding-bottom: 60%;
}

.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}

.hover img {
  width: 100%;
  position: absolute;
  /* height: 400px; */
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.hover-content {
  position: relative;
  z-index: 99;
}

.hover-2 .hover-overlay {
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.hover-2-title {
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 99;
  transition: all 0.3s;
}

.hover-2-description {
  width: 100%;
  position: absolute;
  bottom: 0;
  opacity: 0;
  left: 0;
  text-align: center;
  z-index: 99;
  transition: all 0.3s;
}

/* .hover-2:hover .hover-2-title {
  transform: translateY(-1.5rem);
} */

.hover-2:hover .hover-2-description {
  bottom: 0.5rem;
  opacity: 1;
}

.hover-2:hover .hover-overlay {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1));
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn_upload {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
}
.btn_upload_m {
  border: 1px solid gray;
  color: gray;
  background-color: white;
  border-radius: 8px;
  font-size: 3.9vw;
  font-weight: bold;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
